table,
td {
    border: 1px solid #333;
    background-color: white;
}

thead,
tfoot {
    background-color: #333;
    color: #ffffff;
}


/* Style pour les balises H1 et H2 */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Style pour les balises TABLE, tbody et tr */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tbody {
    font-size: 1.2rem;
  }
  
  tr {
    border-bottom: 1px solid #ccc;
  }  

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  /* Styles de base pour les liens de navigation */
nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Styles pour les liens survolés */
nav a:hover {
  background-color: #333;
  color: #fff;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form p {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #3e8e41;
}
